* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sticky {
    position: fixed;  
    z-index: 10; 
    width: 100%;
    
}
.navlist-1 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 50%;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    margin: 1.2vw;
    
}
.navlist-1>li>a {
    color: white;
}
.number {

    list-style: none;
    padding-bottom: 1vh;
    display: inline-block;
    color: white;
    text-decoration:underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
    
    padding-right: 1vw;
    font-size: 2vw;
}
.navbar {
    
    display: flex;
    justify-content: space-between;
    
    height: 10vh;
   
    background-color: rgba(10, 149, 235, 0.667);
    position: sticky
}
.social-media-images {
    display: flex;
    gap: 0.5vw; 
    align-items: center;
    padding-right: 1vw;
}
.social-media-images>a>img {
    width: 2vw;
    height: auto;
}
.social-media-images>a {
    display: flex;
    align-items: center; 
}
.right {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 44%;
    
}
.bronirovat {
    
    background-color: rgb(255, 61, 0);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 9vw;
    display: block;
    height: 1vw;
    border-radius: 1vw 1vw 1vw 1vw;
    font-weight: bold;
    font-size: 1vw;
    padding-left: 2.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}





