@import url('https://fonts.googleapis.com/css2?family=TildaSans&display=swap');
html {
    height: 100%;
    overflow-x: hidden;
}
.background {
    
    
    background-image: url("../images/background.jpg");
    
    
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 150px;
    background-position: center center;
    
    
}
.gradient {
    background-image: -webkit-linear-gradient(
        rgba(10, 20, 80, 0.6),   /* Темно-синий с большей непрозрачностью */
        rgba(0, 0, 0, 0.5)      /* Почти черный для более сильного затемнения */
    );
          height: 100vh;
        
}
.front-text {
    
    
    color: rgba(255, 255, 255, 1);  /* Яркий белый текст */
    text-shadow:
        0 0 10px #4a6dfb,  /* Яркое начальное свечение */
        0 0 20px #6584fa,  /* Усиление синего цвета */
        0 0 40px #82a1ff,  /* Голубое свечение */
        0 0 80px #a1c8ff,  /* Усиленное голубое свечение */
        0 0 150px #ffffff;
    padding-top: 250px;
    padding-left: 0%;
    font-family: sans-serif;
    
    font-weight: bold;
    font-size: 3vh;
    
    text-align: center;
}
.front-text>h1 {
    padding-bottom: 30px;
}


.main-content {
    justify-content: center;
}
.segment-1>h2 {
    text-align: center;
    
    font-family: sans-serif;
    font-weight: bold;
    font-size: 5vh;
    padding-bottom: 70px;
    
    
}
.image-with-text {
    width: 300px;
    height: 360px;
    display: inline-block;
    text-align: center;
    
}
.image-with-text>h3 {
    font-size: 30px;
    padding-bottom: 20px;
    
    
}
.image-with-text>p {
    
    font-size: 15px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 30px;
    line-height: 1.55;
    height: 70px;
    width: 100%;
}
.image-with-text>img {
    
    
    width: 140px;
    padding-bottom: 20px;
}
.images-grid {
    display: block;
    
    
    
   
    width: 1000px;
    
    

}
.segment-1 {
    padding-bottom: 30vh;
}
.all-cards {
    display: flex;
    justify-content: center;
    padding-left: 7vw;
    
}

.row {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-inline: 1vh;
    height: 400px;
    display: flex;
}



.images_grid_after_text {
    padding-inline: 1.2vw;
width: 210vh;
height: 1000px;
padding-bottom: 20vw;
 
}
.images_grid_after_text>img {
    
    width: 48%;
    display: inline-block;
}
.images_grid_after_text>div {
    width: 49%;
    display: inline-block;
    
    height: 98%;
}
.images_grid_after_text>div>div {
    
    display: inline-block;
    
    
}
.images_grid_after_text>div>div>img {
    
    width: 49%;
    
    height: 57.1vh;
    display: inline-block;
    
    
}
.images_grid_after_text>div>img {
    width: 100%;
    
}
.images_grid_after_text_2>img {
    width: 49%;
    padding-inline: 0.2vw;
   
}
.images_grid_after_text_2 {
    display: flex;
    justify-content: center;
}
/* Второй сегмент */
.segment-2 {
    padding-top: 15vh;
    display: block;
    text-align: center;
}

.segment-2>h2 {

    font-family: "TildaSans", Arial, sans-serif;
    font-size: 42px
}
.segment-2>div {
    display: flex;
    justify-content: center;
}
.segment-2>div>p {
    width: 85%;
    font-size: 1.7vw;
font-weight: 30;
line-height: 36px

}
.bungalo_images {
    padding-bottom: 10vh;
}

.bungalo_images>img {
    width: 20vw;
    padding-inline: 0.6vw;

}
.bungalo_images>div>img {
    margin-top: 10%;
    bottom: 50%;
    width: 30vw;
}
.rebro {
    padding-bottom: 5vh;
    justify-items: center;
}
.rebro>img {
    padding-inline: 0.5vw;
    width: 35%;
}
.montana {
    padding-top: 2.5vw;
    padding-bottom: 5vw;
    justify-content: center;
}
.poplavok {
    justify-content: center;
}
.poplavok>img {
    width: 70%;
}
.end-of-main-content {
    
    position: relative;
    display: block;
    
    
}
.end-of-main-content>img {
    
    width:100%;
    height: 70vh;
    object-fit: cover;
    pointer-events: none; 
    
}
.end-of-main-content::before {
    content: "";
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
    pointer-events: none;
    font-size: 4rem;
  line-height: 1.23;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 600;
}
.text-grid {
    width: 75%;
    padding: 0;
    margin: 0;
}
.segment-3>h2 {
    
    font-family: "TildaSans", Arial, sans-serif;
    font-size: 42px
    
}
.segment-3 {
    padding-top: 5%;
    
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
.text-grid>table>thead>tr>th {
    line-height: 1.6;
    border: 1px solid #000;
    font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 550;
}
.text-grid>table {
    border-collapse: collapse;
    
    text-align: inherit;
    
    
}
.text-grid table th, .text-grid table td {
    padding: 20px;
    text-align: left;
    vertical-align: top;
    
}
.text-grid>table>thead>tr {
    box-sizing: content-box;
}
.text-grid {
    padding-top: 5%;
    padding-bottom: 5%;
}

.white-row>td {
    border: 0 solid #ccc;
    border-color: #d9d9d9;
    line-height: 1.6;
    padding: 20px;
  border-width: 1px 1px;
  font-weight: 500;
  color: #4d4c4c;
  font-family: 'TildaSans',Arial,sans-serif;
}
.black-row>td {
    border: 0 solid #ccc;
    border-color: #d9d9d9;
    padding: 20px;
  border-width: 1px 1px;
  font-weight: 500;
  color: #4d4c4c;
  font-family: 'TildaSans',Arial,sans-serif;
  line-height: 1.6;
}
.black-row {
    background: #eeeeee;
}
.other-features {
    padding-top: 20px;
    font-size: 20px;
  line-height: 1.55;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 200;
  color: #3a3a3a;
  box-sizing: content-box;

}
.recvizites>img {
    width:36px;
    padding-right: 5px;
    
}

.recvizites {
    font-weight: 700;
    display: flex;
    align-items:center;
    font-size: 18px;
    line-height: 1.55;
    font-family: 'TildaSans',Arial,sans-serif;
    color: #000000;
}
.segment-3>strong {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'TildaSans',Arial,sans-serif;
    text-align: center;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rules {
    border-style: solid;
    width: 65%;
    border-width: 0;
    
    background-color: #fff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    
    
    

}
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #eeeeee;

}
.tab {
    
    font-weight: 400;
    outline: none;
    padding: 18px 20px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.35;
  font-family: 'TildaSans',Arial,sans-serif;
  transition: 0.3s;
}
.content.active>h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'TildaSans',Arial,sans-serif;
}
.content.active {
    padding: 20px   ;
    padding-left: 40px;
}
.content.active>ul {
    padding: 10px;
}
.content.active>ul>li {
    font-size: 18px;
  
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 300;
  line-height: 2
}
.tab {
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: color 0.3s;
}
.tab:hover {

    color: #0073e6;
    transition: color 0.3s;
}
.tab.active {
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    transition: color 0.3s;
}
.content {
    display: none;
    transition:0.3s;
}
.content.active {
    display: block;
    transition:0.3s;
}
.content.active>ul>p {
    font-size: 18px;
  line-height: 1.55;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 300;
}
.content.active>ul>span {
    font-size: 14;
    
}
.rec_container {
    padding-top: 30px;
    padding-left: 18%;
}
.card h1 {
    font-size: 18px;
    line-height: 1.55;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 0;
}