html {
    height: 100%;
    overflow-x: hidden;
}
.background {
    
    
    background-image: url("../images/background.jpg");
    
    
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 150px;
    background-position: center center;
    
    
}
.cards {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}
.card {
    border-radius: 10%;
    display: flex;
    background-color:#fff;
    height: 70vh;
    width:50vw;
    flex-direction: column;
    align-items: center;
    
    

    
}
.calendar {
    
    width: 300px;
    
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.calendar_header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.day {
    text-align: center;
    padding: 5px;
    color:#999FA6;
    

}
.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap:0px;
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
    margin: auto;
    cursor: pointer;
    font-weight: 0;
    font-size: 10px;
    border-radius: 50%;
    width: 20px;
    height:30px;
    transition: 0.2s;
}
.date:hover, .date.active{
    background: #f89224;
    color:#fff;

}
.date.inactive {
    color: #d2d2d2;
    cursor: default
}
.date.inactive:hover {
    color: #d2d2d2;
    
    background-color: transparent;
}

.monthYear {
    text-align: center;
    font-weight: 100;
    
}
.count {
    height: 100%;
    display: flex;
    width: 100%;
    background: #fff;
    border-radius: 10%;
    
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.rows {
    
    border-color: #4e5154;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   
   border-style: none none solid;
   border-width: 1px;
   border-radius: 10%;
   padding-bottom: 10px;

}
.count-text {
    padding-top:10px;
display: inline;
font-weight: 3px;
font-size: 15px;

    

}
.row {
    
    width: 90%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.final-count {
   
    
    width: 100%;
    padding-bottom: 10px;
}
.final-count-text {
    padding-top: 10px;
    border-style: solid none none;
    
    border-color: #4e5154;
    border-width: 1px;
}
.count-container {
    padding-bottom: 0px;
    
}
.container-row {
    display: flex;
    border-style: solid none none none ;
    justify-content: space-between;
    
    border-width: 1px;
    border-color: #999FA6;
    padding-top: 5px;
    height: 30px;
    

}
.delete {
    border-style: none;
    background-color: #f89224;
    cursor: pointer;
    color: #fff;
    height: 25px;
    width: 70px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
}
.tabs {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #717171;

}
.tab {
    
    font-weight: 100;
    outline: none;
     padding: 1px 5px; 
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.35;
  font-family: 'TildaSans',Arial,sans-serif;
}
.tab.active {
    background: #f89224;
    color: #fff;
    border-radius: 20px 2px 20px 2px;
    transition: 0.2s;
    
}
.tab:hover {
    background:#f89224;
    color: #fff;
    border-radius: 20px 2px 20px 2px;
    transition: 0.2s;
}
.content {
    display: none;
}
.content.active {

    align-items: center;
    flex-direction: column;
    height: 420px;

    display: flex;
    justify-content: space-between;
}
.content.active button {
    border-style: none;
    background-color: #f89224;
    cursor: pointer;
    color: #fff;
    
    height: 30px;
    width: 100px;
    border-radius: 20px 20px 20px 20px;
    
}
.text-container {
    width: 100%;
    padding-bottom: 10px;
  
    
}
.text-row {
    text-align: center;
    font-size: 17px;
    padding-block: 5px;
    display: block;
    border-width: 1px;
    border-style: none none solid;
    border-color: #999FA6;
}
.inp {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titl {

    font-size: 20px;
  line-height: 1.35;
  font-family: 'TildaSans',Arial,sans-serif;
}
.main-fields {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.input-container {
    margin-inline: 10px;
    justify-content: space-between;
    display: flex;
    padding-block: 5px;
}
input[type="text"], input[type="tel"], input[type="email"] {
    width: 60%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

/* Стили при наведении и фокусе */
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
    border-color: #f89224;
    box-shadow: 0 0 5px rgba(248, 146, 36, 0.5);
}
.pay-button button{
    border-style: none;
    background-color: #f89224;
    cursor: pointer;
    color: #fff;
    
    height: 50px;
    width: 200px;
    border-radius: 40px 40px 40px 40px;
}
