.comment_user_block {
  position: fixed;
  left: 80%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}

.textarea_comment_user_block {
  resize: none;
  background-color: rgb(231, 229, 229);
  height: 400px;
  width: 600px;
  border-width: 5px;
  border-color: #0b63f6;
  border-radius: 10px;
  border-bottom: 2vh;
  font-family: Tahoma;
  font-size: 20px;
}

.lbl_comment_user_block {
  display: block;
  font-family: Tahoma;
}

#add_comment {
  height: 50px;
  width: 600px;
  font-size: 24px;
  font-family: 24px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: #0b63f6;
  box-shadow: 0 5px 0 #003cc5;
}

#add_comment:hover {
  height: 50px;
  width: 600px;
  font-size: 24px;
  font-family: 24px;
  background: #003cc5;
  box-shadow: none;
  position: relative;
  top: 5px;
}

.comments_blocks {
  flex-direction: column;
  position: absolute;
  left: 20%;
  top: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}

.textarea_comment_block {
  background-color: rgb(231, 229, 229);
  resize: none;
  height: 200px;
  color:black;
  width: 600px;
  border-color: #0b63f6;
  border-bottom: 2vh;
  border-width: 5px;
  font-family: Tahoma;
  font-size: 18px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.lbl_comment_block {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 610px;
  background-color:cadetblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.comment_position {
  padding-top: 100px;
  padding-left: 70px;
}
