@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Pacifico';
}
.background {
    
    
    background-image: url("../images/background.jpg");
    
    
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 150px;
    background-position: center center;
    
    
}
.cards {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}
.card {
    border-radius: 10%;
    display: flex;
    background-color:#fff;
    height: 70vh;
    width:50vw;
    flex-direction: column;
    align-items: center;
    
    

    
}
.tab-menu {
    height: 90%;
}

.count {
    height: 100%;
    display: flex;
    width: 100%;
    background: #fff;
    border-radius: 10%;
    
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.rows {
    
    border-color: #4e5154;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   
   border-style: none none solid;
   border-width: 1px;
   border-radius: 10%;
   padding-bottom: 10px;

}
.count-text {
    padding-top:10px;
display: inline;
font-weight: 3px;
font-size: 25px;
border-color: #4579b4c2;

    

}
.row {
    
    width: 90%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.row>p {
    font-size: 95px;
}
.row>button {
    
}
.final-count {
   
    
    width: 100%;
    padding-bottom: 10px;
}
.container-row>p {
    font-size: 20px;
}
.final-count-text {
    padding-top: 0px;
    border-style: solid none none;
  
    border-color: #4e5154;
    border-width: 1px;
}
.count-container {
    padding-bottom: 0px;

}
.container-row {
    display: flex;
    border-style: solid none none none ;
    justify-content: space-between;
    
    border-width: 1px;
    
    padding-top: 0px;
    height: 30px;
    

}

.delete {
    border-style: none;
    font-family: "Pacifico";
    
    font-size: 20px;
    background-color: #f89224;
    cursor: pointer;
    color: #fff;
    height: 25px;
    width: 100px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
    line-height: 1.1;
    margin-top: 2px;
}
.bron-tabs {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #717171;

}
.bron-tab {
    font-size: 45px;
    font-weight: 100;
    outline: none;
     padding: 1px 9px; 
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 19px;

  line-height: 1.35;
  font-family: 'Pacifico',Arial,sans-serif;

}
.bron-tab.active {
    background: #f89224;
   
    color: #ffffff;
    border-radius: 20px 2px 20px 2px;
    transition: 0.2s;
    
}
.bron-tab:hover {
    background:#f89224;
    color: #fff;
    border-radius: 20px 2px 20px 2px;
    transition: 0.2s;
}
.bron-content {
    display: none;
}
.bron-content.active {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
  
    height: 100%;
}

.bron-content.active button {
     /* Прижимает кнопку к низу */
    border-style: none;
    background-color: #f89224;
    cursor: pointer;
    color: #fff;
    font-size: 29px;
    height: 40px;
    padding-bottom: 50px;
    width: 200px;
    border-radius: 20px;
    font-family: 'Pacifico',Arial,sans-serif;
}

.text-container {
    width: 100%;
    padding-bottom: 10px;
  
    
}
.text-row {
    
    text-align: center;
    font-size: 21px;
    padding-block: 5px;
    display: block;
    border-width: 1px;
    border-style: none none solid;
    border-color: #a4a699;
}
.inp {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titl {

    font-size: 55px;
  line-height: 1.35;
  font-family: 'Pacifico',Arial,sans-serif;
}
.main-fields {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.input-container {
    margin-inline: 10px;
    justify-content: space-between;
    display: flex;
    padding-block: 5px;
}
input[type="text"], input[type="tel"], input[type="email"] {
    width: 60%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

/* Стили при наведении и фокусе */
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
    border-color: #f89224;
    box-shadow: 0 0 5px rgba(248, 146, 36, 0.5);
}
.pay-button button{
    border-style: none;
    font-size: 25px;
    background-color: #f89224;
    cursor: pointer;
    color: #fff;
    font-family: 'Pacifico',Arial,sans-serif;
    height: 50px;
    width: 200px;
    border-radius: 40px 40px 40px 40px;
}
p {
    font-family: 'Pacifico', sans-serif;
    font-size: 50px;

    padding-Top: 30;
    
}
